// Fonts

$fontDosis: 'Dosis', sans-serif;
$fontLato: 'Lato', sans-serif;
$fontLobster: 'Lobster', cursive;
$fontPoppins: 'Poppins', sans-serif;

// Fonts Weigth

$dosis600: 600;
$dosis700: 700;
$dosis800: 800;

$poppins300: 300;
$poppins400: 400;
$poppins500: 500;
$poppins600: 600;
$poppins700: 700;

$lato400: 400;

$lobster400: 400;

// Colors

$white: #FFFFFF;
$black: #42495B;
$colorLogo: #484848;
$blue: #7E76F9;
$lightblue:#ECEAFE;
$darkblue: #1000FF;
$gray: #F6F7FB;
$darkgray: #999999;
$colorButton : linear-gradient(to left, #6156F9, #1A129F);

// Sections

$viewSize: 100vh;